html {
    color: #404040;
    font: 400 1em/1.4 'Open Sans', sans-serif;
    text-rendering: optimizeLegibility;
}

hr {
    border-bottom: solid 2px rgba(195, 90, 0, 0.33);
}

ul.index {
    list-style-type:none;
    padding:0px;
}

.index .description {
    display:inline-block;
}

.index a:hover {
     text-decoration: none;
}

.index li {
    border-bottom: solid 2px rgba(195, 90, 0, 0.33);
}

.index img {
    width: 128px;
    height: 72px;
    vertical-align:top;
    margin-bottom: 10px;
}

.figure {
    width: 300px;
}

.hero-image {
    margin-top: 10px;
    width: 70%;
}

div.triptych {
    margin-top: 15px;
}

.triptych img {
    width: 20%;
}

.nice-image {
    border: 0px solid #788;
	border-radius:20px;
}

h1 {
    font-weight: bold;
    font-size: 18px;
}

header img {
    max-height:250px;
    max-width:100%;
    border-radius: 10px;
    margin-bottom: 10px;
}

header p {
    padding-top: 10px;
}

footer {
    margin-top: 10px;
}

header p a, footer p a {
    padding-right: 20px
}

.content {
    background-color: #F4F3F0;
    font-family: 'Open Sans', sans-serif;
    padding-top: 1px;
    padding-bottom: 1px;
}

.nice-image {
    border: 0px solid #788;
	border-radius:20px;
}

canvas {
    border:solid 2px black;
}

.appbtn {
    width:100%;
    display:block;
    border-top:0;
    border-left:solid 2px black;
    border-right:solid 2px black;
    border-bottom:solid 2px black;
    padding-bottom:5px;
    padding-top:5px;
}

.appbtn:focus {outline:0;}

.appbtn:first-of-type {
    border-top:solid 2px black;
}

.appbtn.selected {
    background:#00B8FF;
}

.post_icon {
    border-radius:20px;
}