---
---
{% include JB/setup %}

<!DOCTYPE html>
<html lang="en">
<head>
    <title>The Little Grasshopper</title>
    <meta charset="utf-8">
    <meta name="HandheldFriendly" content="True">
    <meta name="MobileOptimized" content="320">
    <meta name="viewport" content="width=device-width,minimum-scale=1,maximum-scale=1">
    <meta name="description" content="Philip's computer graphics blog.">
    <meta name="keywords" content="graphics opengl webgl vulkan metal programming">
    <meta name="author" content="Philip Rideout">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600" rel="stylesheet" type="text/css">
    <link href="{{ ASSET_PATH }}/bootstrap-3.3.6/css/bootstrap.min.css" rel="stylesheet">
    <link href="{{ ASSET_PATH }}/css/modern.css" rel="stylesheet">
    <link rel="shortcut icon" href="http://prideout.net/favicon.ico">

    <!-- Twitter Card data -->
    <meta name="twitter:card" content="summary">
    <meta name="twitter:site" content="@prideout">
    <meta name="twitter:title" content="The Little Grasshopper">
    <meta name="twitter:description" content="Philip's computer graphics blog.">
    <meta name="twitter:image" content="http://github.prideout.net{{ ASSET_PATH }}/sitethumb.png">

    <!-- Open Graph data -->
    <meta property="og:title" content="The Little Grasshopper" />
    <meta property="og:type" content="website" />
    <meta property="og:url" content="http://prideout.net/" />
    <meta property="og:image" content="http://github.prideout.net{{ ASSET_PATH }}/sitethumb.png" />
    <meta property="og:description" content="Philip's computer graphics blog" />
    <meta property="og:site_name" content="The Little Grasshopper" />

</head>
<body>
    <div class="container">
        <header>
            <a href="{{ HOME_PATH }}">
                <img src="{{ ASSET_PATH }}/PublishedLogo.svg">
            </a>
        </header>
        <div class="content">
            {{ content }}
        </div>
        <footer>
            <p>
                <a href="http://prideout.net/blog">[old]</a>
                <a href="http://prideout.net/archive/vita.html">[bio]</a>
                <a href="http://github.com/prideout">[github]</a>
                <a href="http://twitter.com/prideout">[twitter]</a>
            </p>
        </footer>
    </div>
    {% include JB/analytics %}
</body>
</html>
