---
---
{% include JB/setup %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="HandheldFriendly" content="True">
    <meta name="MobileOptimized" content="320">
    <meta name=viewport content="width=device-width,minimum-scale=1,maximum-scale=1">
    <title>{{ page.title }}</title>
    <meta name="description" content="{{ page.description }}">
    <meta name="author" content="{{ site.author.name }}">
    <link href="//fonts.googleapis.com/css?family=Open+Sans:300,400,600" rel="stylesheet" type="text/css">
    <link href="{{ ASSET_PATH }}/bootstrap-3.3.6/css/bootstrap.min.css" rel="stylesheet">
    <link href="{{ ASSET_PATH }}/css/modern.css" rel="stylesheet">
    <link href="{{ ASSET_PATH }}/css/syntax.css" rel="stylesheet">
    <link rel="shortcut icon" href="http://github.prideout.net/favicon.ico">
    <script src="//code.jquery.com/jquery-1.11.3.min.js"></script>
</head>
<body>
    <div class="container">
        <header>
            <a href="{{ HOME_PATH }}">
                <img src="{{ ASSET_PATH }}/PublishedLogo.svg">
            </a>
        </header>
        <div class="row">
            <div class="content col-md-9">
                {{ content }}
            </div>
            <div class="col-md-3">
            </div>
        </div>
        <footer>
            <p>
                <a href="{{ HOME_PATH }}">[home]</a>
                <!--a href="http://github.prideout.net/blog">[old]</a-->
                <a href="{{ ASSET_PATH }}/about.html">[about]</a>
                <a href="http://github.com/prideout">[github]</a>
                <a href="http://twitter.com/prideout">[twitter]</a>
            </p>
        </footer>
    </div>
    {% include JB/analytics %}
</body>
</html>
